{{template "base" .}}

{{define "content"}}
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-3">User Profile page</h1>
                <hr>                
            </div>
        </div>
    </div>      
    
{{end}}