golang_testing_course/webapp/cmd/web/coverage.out
golang_testing_course/webapp/postgres-data/*
postgres-data/
golang_testing_course/webapp/postgres-data/global/pg_control
golang_testing_course/webapp/postgres-data/pg_wal/000000010000000000000001
golang_testing_course/webapp/postgres-data/global/pg_control
golang_testing_course/webapp/postgres-data/pg_wal/000000010000000000000001
